.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../../assets/fundoLogin.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    
}
.container h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.container .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

.input-field input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 15px;
}

.input-field input::placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.input-field .icon {
    position: absolute;
    top: 25%;
    left: 93%;
    transform: translate(-50%);
    height: 25px;
    font-size: 20px;
    color: #fff;
}

.container .recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0px 15px;
}

.recall-forget label {    
    color: #fff;
}

.recall-forget input {
    margin-right: 5px;
}

.recall-forget a {
    color: rgb(53, 236, 236);
    text-decoration: none;
    -webkit-text-stroke: rgba(0, 0, 0, 0.774) 0.1px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40%;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    text-shadow: none;
    margin: 15px 0px;
}
.button-cancel {
    background-color: #ffffff54;
}


.signup-link {
    display: flex;
    justify-content: center;
    color: #fff;
}
.signup-link a {
    margin-left: 5px;
    color: rgb(53, 236, 236);
    text-decoration: none;
    -webkit-text-stroke: rgba(0, 0, 0, 0.774) 0.1px;
}